<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ListenServer Server</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="/web/js/chartsLoader.js"></script>
</head>

<body>
    <%- include('partials/navbar') %>

    <div class="container-fluid mainContainer">
        <div class="row">

            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <small><b>DataBase</b></small>
                        <div class="card-text">Name: <%= serverData.name%>
                        <% if(!serverState){ %>
                            <span class="badge badge-danger">KO</span>
                        <% } else{ %>  
                            <span class="badge badge-success">OK</span>
                        <% } %>
                        </div>
                        <div class="card-text">ID: <%= serverData._id%></div>
                        <div class="card-text">Redirection: <%= serverData.redirect%></div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <small><b>UNIX</b></small>
                        <div class="card-text">PID: <%= serverData.pid%>%></div>
                        <div class="card-text">Port: <%= serverData.port%></div>
                        <div class="card-text">Version: <%= serverVersion%></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <small><b>Control</b></small>
                        <hr>
                        <% if(!serverState){ %>
                            <button onclick="sendServerState(true, '<%= serverData._id  %>')" type="button"  class="btn btn-primary btn-sm">START</button>
                        <% } else{ %>  
                            <button onclick="sendServerState(false, '<%= serverData._id  %>')" type="button"  class="btn btn-danger btn-sm">STOP</button>
                        <% } %>
                        &nbsp;
                        <button onclick="doTodel('<%= serverData._id  %>')" type="button"  class="btn btn-danger btn-sm" disabled>DELETE</button>
                    </div>
                </div>
            </div>

            

        </div>
    </div>
    <br>


    <div class="container-fluid mainContainer">
        <div class="row">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <small><b>Control</b></small>
                        <div class="card-text"><canvas id="chartLast"></canvas></div>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <small><b>Graph Settings</b></small>
                        <div class="card-text">Time</div>
                        <form action="server" method="GET" role="form" class="form-horizontal">
                            <div class="form-group">
                                <div>
                                    <div class="input-group mb-3">
                                        <input type="hidden" id = serverId name="serverId" value="<%= serverData._id %>">
                                        <input type="text" class="form-control" id="h" name="h" placeholder="hour" aria-label="hour" aria-describedby="basic-addon1">
                                        <input type="text" class="form-control" id="m" name="m" placeholder="min" aria-label="min" aria-describedby="basic-addon1">
                                    </div>
                                </div>
                            </div>
                            <div class="card-text">Precision</div>
                            <div class="form-group">
                                <div>
                                    <div class="input-group mb-3">
                                        <input type="hidden" id = serverId name="serverId" value="<%= serverData._id %>">
                                        <input type="text" class="form-control" id="ph" name="ph" placeholder="hour" aria-label="hour" aria-describedby="basic-addon1">
                                        <input type="text" class="form-control" id="pm" name="pm" placeholder="min" aria-label="min" aria-describedby="basic-addon1">
                                    </div>
                                    <button type="submit" class="btn btn-default">set</button>
                                </div>
                            </div>
                        </form>
                        <div class="card-text">Color: <%= serverData.graph.color %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="container-fluid mainContainer">
        <div class="row">

            <div class="col-md-8">
                <div class="card">
                    <div class="list-group">
                        <% for(var i=0; i<dataList.length; i++) { %>
                            <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <small><b class="mb-1"><%= dataList[i].ip %></b></small>
                                    <small><%= dataList[i].timeStr %></small>
                                </div>
                                <small>
                                <% for(var index=0; index<dataList[i].data.length; index++) { %>
                                    <pre style="white-space:pre-wrap;" class="dataList">[<%= dataList[i].data[index] %>]</pre>
                                <% } %>
                                </small>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>



            <div class="col-md-4">

                    <div class="card">
                        <div class="card-body">
                            <small><b>Log monitor</b></small>
                            <br><br>
                            <div class="card terminalLike">
                                <pre class="terminalLike"><%= serverLog%></pre>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card">
                        <div class="card-body">
                            <small><b>Log UNIX</b></small>
                            <br><br>
                            <div class="card terminalLike">
                                <pre class="terminalLike"><%= unixLog%></pre>
                            </div>
                        </div>
                    </div>
            </div>


        </div>
    </div>


    <hr>

    <script>
    setLoadOneData('chartLast', '/web/api/graph/server/time_activity?serverId='+'<%= serverData._id%>', false);
        // With JQuery
        function sendServerState(state, id) {
            //Take params graph


            console.log('sendServerState['+id+']['+state+']')
            var xhr = new XMLHttpRequest();
            xhr.open("GET", 'server/'+id+'/state?state='+state, true);
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.onreadystatechange = function() {//Call a function when the state changes.
                if(this.readyState == XMLHttpRequest.DONE && this.status == 200) {
                    var delayInMilliseconds = 2000;
                    setTimeout(function() {
                        window.location.reload(true);
                    }, delayInMilliseconds);
                }
            }
            xhr.send();
        }

        function doTodel(id){
            var path = '/web/server?todel='+id;
            document.location.href = path;
        }
    </script>

    <%- include('partials/footer') %>
</body>

</html>