<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ListenServer Server</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }

        .jumbotron {
          margin-top: 10px;
        }
    </style>
</head>

<body>
        <%- include('partials/navbar') %>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">ListenServer</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">DB have XXX data recorder</p>
            </div>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="row hidden-md-up">
            <% for(var i=0; i<serverList.length; i++) { %>
                <div class="col-md-6">
                    <div class="<%= serverList[i].state ? 'card text-white mb-3 bg-success' : 'card text-white mb-3 bg-danger' %>">
                        <div class="card-header"><%= serverList[i].name %></div>
                        <div class="card-body">
                            <h5 class="card-title">Port: <%= serverList[i].port%></h5>
                            <div class="card-text">Ext port: <%= serverList[i].redirect%></div>
                            <div class="card-text">State: <%= serverList[i].state%></div>
                        </div>
                    </div>
                </div>
            <% } %>
        
    </div>
    <%- include('partials/footer') %>
</body>

</html>